body{
    background-color: rgb(29, 37, 14);
    padding: 10px;
    color: wheat;
}
.profile{
    height: 600px;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    
}
.project1{
    height: 400px;
    padding: 10px;
    text-align: center;
}

.aboutme{
    height: 100%;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    
}
.project2{
    height: 400px;
    
    padding: 10px;
    text-align: center;
}
.aboutme ul,ol{
    text-align: left;
}
.aboutme ol{
    font-size: larger;
}
.name{
    font-size: larger;
    font-style: italic;
}
.link{
    font-size: x-large;
}
.body{
    width: 85%;
    border: 15px ;
    padding: 50px;
    margin: 20px;
}