body{
    background-color: rgb(29, 37, 14);
    padding: 10px;
}
.profile{
    height: 600px;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: white;
}
.project1{
    height: 400px;
    background-color: white;
    padding: 10px;
    text-align: center;
}
.aboutme{
    height: 100%;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: white;
}
.project2{
    height: 400px;
    background-color: white;
    padding: 10px;
    text-align: center;
}
.aboutme ul,ol{
    text-align: left;
}
.aboutme ol{
    font-size: larger;
}
.name{
    font-size: larger;
    font-style: italic;
}